body {
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  color: #2A3333;
  font-size: 20px;
  line-height: 30px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  padding-bottom: 56px;
  padding-left: 0px !important;
  margin-top: -35px;
}

h2 {
  color: #00756F;
  font-size: 24px;
  font-weight: 900;
  line-height: 60px;
  padding-bottom: 56px;
  padding-left: 0px;
  margin-top: -35px;
}

.logotype {
  font-weight: 900;
  color: #00756F;
}

.col-md-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.main-background{
  background-color: #F0F0F0;
  height: 92vh;
  width: 96vw;
  margin-left: 4vh;
  margin-top: 4vh;
}

.nav-menu {
  padding-top: 24px;
}

.fixed-menu {
  padding-bottom: 20px;
}

.presentation-image {
  height: 70vh;
}

.special-underline {
  height: 24px;
  background-color: #F0B916;
  margin-bottom: -350px;
}

.special-underline-projects {
  height: 24px;
  background-color: #F0B916;
  margin-top: -300px;
}

.special-underline-method {
  height: 24px;
  background-color: #F0B916;
  margin-top: -400px;
}

.special-underline-method-2 {
  height: 24px;
  background-color: #F0B916;
  margin-top: -80px;
}

.special-underline-profile {
  height: 24px;
  background-color: #F0B916;
  margin-top: 80px;
}

.main-info {
  padding-top: 150px;
}

.contact-info {
  margin-top: 40px;
  line-height: 40px;
  margin-bottom: 104px;
}

.content-presentation {
  margin-top: 20px;
  padding-bottom: 50px;
}

.main-button {
  border: 1px solid #00756F;
  border-radius: 6px;
  color: #00756F;
  padding: 12px 56px;
  margin-top: 16px;
  font-weight: 600;
  background-color: #F0F0F0;
  transition: all 0.1s ease-in-out 0s;
}

.main-button:hover {
  background-color: #00756F;
  border: 1px solid #00756F;
  color: #F0F0F0;
}

.secondary-button {
  border: 1px solid #00756F;
  border-radius: 6px;
  color: #00756F;
  margin-top: -150px;
  padding: 12px 56px;
  font-weight: 600;
  background-color: #F0F0F0;
  transition: all 0.1s ease-in-out 0s;
}

.secondary-button:hover {
  background-color: #00756F;
  border: 1px solid #00756F;
  color: #F0F0F0;
}

.display-frame{
  background-color: #F7F7F7;
  height: 440px;
  margin-top: 140px;
  z-index: 1;
}

.display-frame-method{
  background-color: #F7F7F7;
  height: 136px;
  margin-top: 16px;
  z-index: 1;
}

.display-frame-method-1{
  background-color: #F7F7F7;
  height: 136px;
  margin-top: 140px;
  z-index: 1;
}

.display-frame-profile{
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  height: 440px;
  margin-top: 140px;
  z-index: 1;
}

.color-p {
  color: #00756F;
  font-weight: 600;
}

.between-projects {
  margin-top: 30px;
}

.project-display {
  width: 450px;
  margin-top: 50px;
}

.project-display-2 {
  height: 330px;
  margin-left: 140px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.project-display-3 {
  height: 96px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.profile-display {
  width: 400px;
  height: 400px;
  margin-top: 16px;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.tools-display {
  height: 64px;
  margin-top: 56px;
  margin-bottom: 16px;
}

.tools-display-flinto {
  height: 96px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.title-method {
  margin-top: -104px;
  margin-left: 16px;
}

.title-method-2 {
  margin-top: -104px;
  margin-left: 216px;
}
