body {
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  color: #1C2120;
  font-size: 20px;
  line-height: 30px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 464px;
  padding-left: 15px;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #1C2120;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #1C2120;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  padding-bottom: 32px;
  margin-top: -35px;
}

.main-title h1{
  font-size: 50px;
  font-weight: 800;
  line-height: 75px;
  padding-bottom: 32px;
}

h2 {
  color: #1C2120;
  font-size: 24px;
  font-weight: 800;
  line-height: 60px;
  padding-bottom: 56px;
  padding-left: 0px;
  margin-top: -35px;
}

.logotype {
  font-weight: 800;
  color: #2A3333;
}

.col-md-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.main-background{
  background-color: #F0B916;
  height: 100vh;
  width: 100vw;
}

.secondary-background{
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
}

.third-background{
  background-color: #FFF;
  height: 50vh;
  width: 100vw;
}

.nav-menu {
  padding-top: 24px;
}

.fixed-menu {
  padding-bottom: 20px;
}

.project-title {
  margin-left: -24px;
  margin-top: 24px;
}

.special-underline {
  height: 24px;
  width: 100%;
  background-color: #FCFCFC;
  margin-top: 136px;
  animation-name: underline;
  animation-duration: 4s;
}

@keyframes underline {
    0% {width: 0%;}
    100% {width: 100%;}
}

.special-underline-project {
  height: 24px;
  background-color: none;
  margin-top: 200px;
  text-align: right;
  transition: all 0.1s ease-in-out 0s;
}

.special-underline-project:hover {
  height: 24px;
  background-color: #F0B916;
  text-align: right;
}

.special-underline-project-right {
  height: 24px;
  background-color: none;
  margin-top: 200px;
  transition: all 0.1s ease-in-out 0s;
}

.special-underline-project-right:hover {
  height: 24px;
  background-color: #F0B916;
}

.special-underline-profile {
  height: 24px;
  background-color: #FFF;
  margin-top: -580px;
  transition: all 0.1s ease-in-out 0s;
  text-align: right;
}

.special-underline-profile:hover {
  height: 24px;
  background-color: #F0B916;
  margin-top: -580px;
  text-align: right;
}

.special-underline-profile-2 {
  height: 24px;
  background-color: #FFF;
  margin-top: -304px;
  transition: all 0.1s ease-in-out 0s;
  text-align: right;
}

.special-underline-profile-2:hover {
  height: 24px;
  background-color: #F0B916;
  margin-top: -304px;
  text-align: right;
}

.project-display {
  margin-top: -80px;
  height: 70vh;
  margin-left: -104px;
}

.project-display-mobile {
  margin-top: 96px;
  margin-bottom: 96px;
  height: 70vh;
  margin-left: -456px;
}

.contact {
  margin-top: 104px;
}

.contact-info {
  margin-top: 40px;
  line-height: 40px;
  margin-bottom: 104px;
}

.content-presentation {
  margin-top: 20px;
  padding-bottom: 50px;
}

.secondary-button {
  border: 1px solid #00756F;
  border-radius: 1px;
  color: #00756F;
  height: 56px;
  padding: 8px 56px;
  margin-top: 152px;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0);
  width: 224px;
  transition: all 0.1s ease-in-out 0s;
}

.secondary-button:hover {
  background-color: #00756F;
  border: 1px solid #00756F;
  color: #F0F0F0;
  width: 224px;
}

.secondary-button-right {
  border: 1px solid #00756F;
  border-radius: 1px;
  color: #00756F;
  height: 56px;
  padding: 8px 56px;
  margin-top: 152px;
  margin-left: 15px;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0);
  width: 224px;
  transition: all 0.1s ease-in-out 0s;
}

.secondary-button-right:hover {
  background-color: #00756F;
  border: 1px solid #00756F;
  color: #F0F0F0;
}

.display-frame{
  background-color: #F7F7F7;
  height: 440px;
  margin-top: 140px;
  z-index: 1;
}

.display-frame-method{
  background-color: #F7F7F7;
  height: 136px;
  margin-top: 16px;
  z-index: 1;
}

.display-frame-method-1{
  background-color: #F7F7F7;
  height: 136px;
  margin-top: 140px;
  z-index: 1;
}

.display-frame-profile{
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  height: 440px;
  margin-top: 140px;
  z-index: 1;
}

.color-p {
  color: #00756F;
  font-weight: 600;
}

.between-projects {
  margin-top: 30px;
}

.profile-display {
  height: 100vh;
  margin-left: -144px;
  margin-top: 40px;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.tools-display {
  height: 64px;
  margin-top: 56px;
  margin-bottom: 16px;
}

.tools-display-flinto {
  height: 96px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.title-method {
  margin-top: -104px;
  margin-left: 16px;
}

.title-method-2 {
  margin-top: -104px;
  margin-left: 216px;
}

.icon{
  height: 56px;
  margin-top: 64px;
  padding-left: 15px;
}

.special-underline-projects {
  height: 24px;
  background-color: #F0B916;
  margin-top: -300px;
}
